header{
   .header{
    width: 100%;
    min-height: 235px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    &_wrapper{
        display: block;
        margin: 0 auto;
       /*  padding-left: 8%; */
        display: flex;
        justify-content: center;
    }

   }
    nav{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 3;
    }

    .menu{
        width: 100%;
        
        min-height: 115px;
        display: flex;
        justify-content: space-between;
       /*  padding: 15px 9% 29px 9%; */
        padding-top: 15px;
        padding-bottom: 29px;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        
        list-style-type: none;

        &_fblock{
            display: block;
            
        }

        &_searchicon{
            margin-left: 10px;
        }

        &_phone{
            display: block;
            margin-top: 0px;
            line-height: 16px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            /*  line-height: 150.02%; */
            /* identical to box height, or 33px */

            color: #3D6081;
            opacity: 0.8;
            @include menu_hover;
            
        }

       &_item{
            margin-top: 23px;

       }

       &_item2{
             margin-top: 0;
       }

       &_fblock{
            display: flex;
            justify-content: flex-start;
            width: 183.73px;
            height: 30px;
            border: 1px;
            border-color: #1c972c;
       }

       &_logo{
            max-width: 100%;
            margin-top: 4px;
           /*  margin-right: 69px; */
       }

       &_link{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150.02%;
            /* identical to box height, or 33px */
            color: #3D6081;
            
            opacity: 0.8;
            @include menu_hover;
       }

       &_2link{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 150.02%;
            /* identical to box height, or 21px */
            text-decoration: none;
            margin-bottom: 6px;
            color: rgba(61, 96, 129, 0.5);
            text-decoration: none;
            @include menu_hover;
       }

      }

      .subheader{
       /*  mix-blend-mode: normal; */
        position: fixed;
        top: 110px;
        min-height: 35px;
        display: block;
        /* margin: 0 auto; */
        /* max-width: 1426px; */
        width: 100%;
        /* padding: 0 148px 40px 148px; */
        z-index: 2;
        
        &_icon{
            padding-right: 0;
            padding-left: 0;
            margin-left: 0;
            width: 327px;
            margin-left: 12px;
        } 
        
        .icon{
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding: 0;
            &_link{
                /* width: 6px;
                height: 6px; */
                @include icon-hover;
            }
            &_img{
                width: 30px;
                height: 30px;
            }
          
        }

        .smenu{
            
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            margin-top: 14px;
            /* margin-left: 30%; */
            padding-right: 0px;
            padding-left: 0px;

            &_link{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 130%;
                /* identical to box height, or 33px */
    
                color: #3D6081;
                opacity: 0.8;
                @include menu_hover;
            }
        }

    }
    .srmenu{
        margin-left: 487px;
        width: 302px;
        padding: 0;
        margin-right: 12px;
    }

    .header_divider {
       /*  position: absolute; */
        display: block;
        /* top: 210px;
        left: 240px; */
        margin: 235px auto 0 auto;
        max-width: 800px;
        /* height: 1px; */
        border: 1px dashed #3D6081;


        /* background-color: #3D6081; */
        
    }
}